@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300;1,400;1,900&display=swap');
:root{
    --reds: #e63755;
    --lightblue:#4cd1d4;
    --fnt:  'Lato', sans-serif;

}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    text-decoration: none;
    box-sizing: border-box ;
}
body{
    height: 200vh;
    overflow-x: hidden;
}
.container{
    width: 100%;
    margin: 0 auto;
    max-width: 1250px;
}
.sections-1{
    min-height: 100vh;
    background-color: rgb(40, 38, 65);
    display: flex;
    align-items: center;
}

.centers{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards{
    
    height: 420px;
    width: 100%;
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 30px;
    
}
.card{
    
    background-color: rgb(255, 255, 255);
    border-radius: 10px;   
}
.top-side{
    height: 40%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
}
.redtop{
    background: linear-gradient(135deg, #ea3e5d, #d81d36);
    
}
.blacktop{
    background: linear-gradient(135deg, #0c0c0c, #1b1a1a);
    
}
.bluetop{
    background: linear-gradient(135deg, #51dde0, #4fe4e8);
    transition: .5s;
}
.pinktop{
    background: linear-gradient(135deg, #e6399e, #921ec9);
    transition: .5s;
}
.logo{
    height: 20px;
    background: rgba(255, 0, 255, 0);
    padding: 10px 15px;
}
.card .logo img{
    width: 70px;
    height: auto;
}
.card .imgsnikers{
    pointer-events: none;
}
.card.first .imgsnikers{
    position: absolute;
    transform: rotateY(180deg) rotate(30deg);
    width: 300px;
    top: -35px;
    left: 10px;
    overflow: visible;
    height: auto;
    z-index: 5;
    
}
.card.second .imgsnikers{
    position: absolute;
    transform: rotateY(180deg) rotate(30deg);
    width: 300px;
    top: -50px;
    left: -10px;
    overflow: visible;
    height: auto;
    z-index: 5;
    
}

.card.third .imgsnikers{
    
    position: absolute;
    transform: rotateY(180deg) rotate(30deg);
    width: 300px;
    top: -40px;
    left: 0px;
    overflow: visible;
    height: auto;
    z-index: 5;
}
.card.fourth .imgsnikers{
    position: absolute;
    transform: rotateY(0deg) rotate(-30deg);
    width: 300px;
    top: -15px;
    left: 0px;
    overflow: visible;
    height: auto;
    z-index: 5;
}


.backtext{
    position: absolute;
    right: 5px;
    bottom: -5px;
    font-family: var(--fnt);
    font-size: 85px;
    font-weight: 900;
    color: rgba(63, 48, 48, 0.26);
    z-index: 0;
}
.bottom_side{
    padding: 10px 15px;
    font-family: var(--fnt);
}
.title{
    background-color: rgb(255, 255, 255);
    text-align: center;
}
.title h1{
    font-size: 20px;
    padding: 10px 0px;
}
.title p{
    color: grey;
    font-size: 14px;
    pad: 10px 0px;
}
.size-picker{
    background-color: rgb(255, 255, 255);
    text-align: center;
}
.size-picker h1{
    font-size: 15px;
    padding: 10px 0;

}
.size-picker ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.size-picker li{
    font-size: 12px;
    padding: 5px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
}
.redli{
    background-color: #e53653;
}
.blueli{
    background-color: aqua;
}
.pinkli{
    background-color: rgb(236, 24, 226);
}
.size-picker li.active{
    color: white;
    background-color: var(--reds);
}













.color-picker{
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-family: var(--fnt);
}
.color-picker h1{
    font-size: 15px;
    padding: 10px 0;

}
.color-picker ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.color-picker li.red{
    background-color: var(--reds);
}
.color-picker li.red.active{
    background-color: white;
    border: 2px solid var(--reds);
}
.color-picker li.blue{
    background-color: rgb(49, 159, 250);
}
.color-picker li.blue.active{
    background-color: white;
    border: 2px solid rgb(49, 159, 250);
}
.color-picker li.pink{
    background-color:rgb(255, 47, 220);
}
.color-picker li.pink.active{
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid rgb(238, 47, 255);
}

.color-picker li.black{
    background-color: black;
}
.color-picker li.black.active{
    background-color: transparent;
    border: 2px solid black;
}

.color-picker li{
    margin: 0px 10px;
    width: 15px;
    height: 15px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 50%;
}
.color-picker li.active{
    background-color: #e53653;
    color: white;
}

.button{
        padding: 10px 0px;
        background-color: rgb(255, 255, 255);
        text-align: center;
}
.btn{
    display: inline-block;
    color: white;
    user-select: none;
    padding: 10px 20px;
    font-family: var(--fnt);
    border-radius: 5px;
    cursor: pointer;
}

.btn1{
    background-color: var(--reds);
}
.btn1:active{
    background-color: #c47784;  
}


.btn2{
    background-color: rgb(0, 119, 255);
}
.btn2:active{
    background-color: rgb(28, 183, 255);
}


.btn3{
    background-color: black;
}
.btn3:active{
    background-color: rgb(29, 28, 28);
}

.btn4{
    background-color: rgb(234, 9, 255);
}
.btn4:active{
    background-color: rgb(229, 34, 255);
}
.btn3{}
.btn4{}

/* section2  *//* section2  *//* section2  *//* section2  *//* section2  *//* section2  *//* section2  */
/* section2  *//* section2  *//* section2  *//* section2  *//* section2  *//* section2  *//* section2  */
/* section2  *//* section2  *//* section2  *//* section2  *//* section2  *//* section2  *//* section2  */
/* section2  *//* section2  *//* section2  *//* section2  *//* section2  *//* section2  *//* section2  */
/* section2  *//* section2  *//* section2  *//* section2  *//* section2  *//* section2  *//* section2  */



:root{
    --stargrn:  #00643c;
    --bongrn:#00371f;
    --wht: hsl(0, 0%, 100%);
}

.section2{
    height: 100vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    
}

.starbucks{
    height: 470px;
    background-color: transparent;
    

}
.swiper-container {
    width: 100%;
    height: 470px;
    padding: 30px 0 !important;
  }



.swiper-slide{
    background-color: var(--stargrn);
    border-radius: 10px;
    position: relative;
    padding: 10px 5px;
}


.logostarbucks{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    color: var(--wht);
    font-family: var(--fnt);
    
}
.logostarbucks h1{
    font-size: 20px;
}

.icons-star .iconss{
    font-family: var(--fnt);
    font-size: 35px ;
    padding: 8px;
    
}
.imgstarbucks{
    
}
.imgstarbucks img{
    
    transform: rotate(0deg) translateX(20%) translateY(-10%);
    width: 180px;
    object-fit: fill;
    min-height: 200px;
    height: auto;
    filter: drop-shadow(1px 1px 55px rgb(27, 58, 15));
    /* animation: imgmover 3s alternate-reverse infinite; */
}
/* @keyframes imgmover{
    form{
        transform: rotate(25deg) translateX(13%) translateY(-10%);
        filter: drop-shadow(1px 1px 55px rgb(27, 58, 15));
    }
    to{
        transform: rotate(-25deg) translateX(13%) translateY(-10%);
        filter: drop-shadow(1px 1px 55px rgba(228, 228, 228, 0.616));
    }
} */
.main-menu-starbucks{
    
    text-align: center;
    font-family: var(--fnt);
    color: var(--wht);
    font-size: 13px;
}

.star-desk{
    padding: 10px 0px;
}
.price-star{
    display: flex;
    align-items: center;
    padding: 0px 5px;
}
.price{
    flex: 1;
    color: white;
    font-family: var(--fnt);
    font-size: 15px;
    font-weight: 700;
    
    
    
}
.pick-boxes{
    flex: 3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 15px;
    
}
.pick-boxes .box1 .starbucksi{
    font-size: 18px !important;
}
.pick-boxes div{
    margin-left: 5px;
    background-color: var(--stargrn);
    padding: 10px;
    border: 2px solid #025833;
    border-radius: 5px;
    cursor: pointer;
}
.pick-boxes .box1.active{
    border: 2px solid #012917;
}
.price span{
    font-size: 24px;
    
}

.button-starbucks{
    
    margin: 7px auto
}
.button-starbucks button{ 
    padding: 7px 15px;
    color: white;
    background-color: #00643c;
    border: none;
    text-transform: capitalize;
    font-family: var(--fnt);
    cursor: pointer;
}
.button-starbucks button:active{
    background-color: #00371f;
    color: white;
 }

 .button-starbucks button:hover{
    background-color: #00854d;
    color: white;
 }











@media(max-width:370){
    body{
        height: auto;
        overflow: hidden;
    }
    .container{
        width: 100%;
        margin: 0 auto;
        max-width: 360px;
    }
    .sections-1{
        min-height: 100vh;
        height: auto;

        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .centers{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }   
    .cards{
    
        height: auto !important;
        display: grid;
        grid-template-columns: 1fr !important;
        row-gap: 30px;
        
    }
}